.sidebar__box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 80vh;
    padding: 30px 20% 30px 20%;
    margin: 30px;
    border: 3px solid #E91E63;
    border-radius: 10px;
    box-shadow: 0 0 5px #E91E63;
    position: relative;
    background-color: #181818;
}

.flex__sidebar1 {
    position: absolute;
    bottom: 85px;
    border-top: 1px solid #E91E63;
    text-align: left;
}

.flex__sidebar2 {
    position: absolute;
    bottom: 50px;
}

.sidebar__box a {
    padding-top: 20px;
    text-decoration: none;
    color: #fff;
}

.sidebar__box a:hover {
    color: #E91E63;
    border-bottom: 1px solid #E91E63;
    padding-top: 19px;
    transition-duration: .2s;
    cursor: pointer;
}

.sidebar__box a.active {
    color: #E91E63;
}